*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Archivo", sans-serif;
    color: white;
    background-color: rgb(207, 107, 60);
    flex-direction: column;
    display: flex;
    justify-items: center;
    min-height: 100vh;
}

header{
    background-color: sienna;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 25px;
}

.pesquisar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisar input{
    background-position: right 20px center;
    background-size: 22px;
    padding-left: 20px;
    width: 650px;
    height: 35px;
    font-size: 15px;
}

.container-button button{
    width: 100px;
    height: 35px;
    background-color: rgb(194, 105, 64);
    color: rgb(80, 40, 22);
    font-size: medium;
    font-weight: bold;
}

